    body{
        background: #ff7a7a;
    }
    #conteudo {
        
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
        text-align: center;
        font-family: sans-serif;
    }

    #my_test{
        display: none;
        font-size: 20px;
        text-align: center;
        position: absolute;
        left: 10%;
        
    }

    .btn {
        background: black;
        color: white;
        border: none;
        padding: 10px;
        width: 80px;
        border-radius: 5px;
    }